@media (min-width: 280px) and (max-width: 540px) {
}

@media (min-width: 541px) and (max-width: 1439px) {
}

@media (min-width: 1440px) {
  .landing-container .row {
    margin-left: 0px;
  }
}

.enroll {
  width: 237px;
  height: 60px;
  border-radius: 0px;
  margin-bottom: 40px;
}

.ciclo {
  margin-top: 89px;
  color: #e70031;
  font-family: "Marlin Geo";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 19px;
}

.verano {
  font-family: "Marlin Geo";
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 56px;
}

.first-block p {
  font-family: "Marlin Geo";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 40px;
}

.first-block .image-container {
  background-color: #d8f0f8;
  height: 489px;
}

.second-block {
  margin-top: 90px;
  margin-left: 169px;
  margin-bottom: 80px;
}

.ciclo-detail {
  margin-bottom: 50px;
}

.ciclo-detail .subtitle {
  font-family: "Marlin Geo";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
}

.ciclo-detail .values {
  font-family: "Marlin Geo";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 36px;
}

.about {
  font-family: "Marlin Geo";
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  line-height: 46px;
  color: #2d2a26;
}

.resume {
  font-family: "Marlin Geo";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
}

.second-block p {
  font-family: "Marlin Geo";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 36px;
  width: 576px;
}

.duration {
  background: rgba(248, 250, 255, 0.65);
  border-radius: 8px;
  height: 80px;
  margin-bottom: 20px;
  margin-left: 50px;
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.landing-container .info {
  align-items: center;
}

.duration-detail .subtitle {
  font-family: "Marlin Geo";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
}

.duration-detail .value {
  font-family: "Marlin Geo";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  text-align: left;
}

.third-block {
  height: 219px;
  background-color: #f8faff;
  display: flex;
  align-items: center;
  text-align: center;
}

.payment-method {
  font-family: "Marlin Geo";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
}

.payment-type {
  font-family: "Marlin Geo";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  color: rgba(45, 42, 38, 0.75);
}

.remind-this {
  margin-top: 54px;
  width: 292px;
  height: 211px;
  background-color: white;
  border-radius: 10%;
  padding-top: 3px;
}

.remind-title {
  font-family: "Marlin Geo";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  text-align: left;
  margin-left: 20px;
  margin-top: 31px;
}

.remind-this p {
  font-family: "Marlin Geo";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  width: 250px;
  text-align: left;
  margin-left: 20px;
  margin-bottom: 15px;
}

.remind-know {
  font-family: "Marlin Geo";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #e70031;
  text-align: left;
  margin-left: 20px;
}

.fourth-block {
  margin-top: 80px;
  margin-bottom: 80px;
}

.title-enjoy {
  font-family: "Marlin Geo";
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  line-height: 46px;
}

.subtitle-enjoy {
  font-family: "Marlin Geo";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  width: 500px;
  margin-top: 34px;
}

.list-enjoy {
  margin-top: 52px;
}

.list-enjoy li {
  font-family: "Marlin Geo";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
}

.list-enjoy ul {
  list-style: none;
}

.list-enjoy ul li::before {
  content: "\2022";
  color: red;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.fifth-block {
  margin-top: 30px;
  margin-bottom: 60px;
}

.title-university {
  font-family: "Marlin Geo";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  text-align: center;
  margin-bottom: 50px;
}
