@media (min-width: 280px) and (max-width: 540px) {
  .container-claim {
    width: 100%;
    max-width: none;
    padding: 0;
  }

  .container-claim .row {
    padding-right: 0px !important;
    padding-left: 0px !important;
  }

  .claim-process p {
    width: 260px !important;
    float: left !important;
    text-align: center !important;
    justify-content: center !important;
    text-align: justify !important;
    margin-left: 65px !important;
  }

  .claim-process .img,
  svg {
    display: none !important;
  }

  .claim-process .options {
    align-items: center;
    margin-left: 75px;
  }

  .cancel {
    margin-left: 65px;
  }

  .cia-info {
    margin-left: 5px;
    margin-right: 5px;
  }
}

@media (min-width: 541px) and (max-width: 1439px) {
  .container-claim {
    width: 1440px;
    max-width: none;
    padding: 0;
  }

  .container-claim .row {
    margin-right: 15px;
    margin-left: 15px;
  }
}

@media (min-width: 1440px) {
  .container-claim {
    width: 100%;
    max-width: none;
    padding: 0;
  }

  .container-claim .row {
    margin-right: 10px;
    margin-left: 10px;
  }
}

.claim-subtitle {
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 31px;
  color: #2d2a26;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 15px;
}

span.circle {
  background: rgba(231, 0, 49, 0.85);
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  color: white;
  display: inline-block;
  font-weight: bold;
  line-height: 40px;
  margin-right: 5px;
  text-align: center;
  width: 40px;
  margin-right: 16px;
}

.claims {
  background-color: white;
}

.header-claim {
  display: table-cell;
  width: 1440px;
  text-align: center;
  vertical-align: middle;
  padding-top: 60px;
}

.form-claim {
  background-color: #f9faff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cia-title {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 31px;
}

.claim-details {
  margin-top: 40px;
  margin-bottom: 40px;
}

.claim-process {
  margin-top: 40px;
  margin-bottom: 40px;
}

.content-claim {
  width: 80%;
  margin-top: 40px;
  margin-bottom: 40px;
}

.cia-info {
  margin-top: 66px;
  margin-bottom: 62px;
}

.block-one {
  width: 50%;
  float: left;
  text-align: left;
  margin-top: 5px;
}

.block-two {
  width: 50%;
  float: left;
  text-align: right;
  margin-top: 5px;
}

.block-title {
  font-family: "Marlin Geo";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 31px;
  margin-left: 0px;
}
.block-ruc {
  font-family: "Marlin Geo";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
}

.block-claim {
  font-family: "Marlin Geo";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 18px;
}

.block-date {
  font-family: "Marlin Geo";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  margin-right: 0px;
}

.claim-process p {
  width: 507px;
  float: left;
  text-align: left;
}

.claim-process .options {
  margin-top: 20px;
  text-align: left;
}

.save {
  width: 227px;
  height: 60px;
}

.cancel {
  width: 82px;
  height: 40px;
}
