.videoclases-container {
  width: 100%;
  /* height: 3150px; */
  max-width: none;
  padding: 0;
}

.main-videoclases-fblock {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  background-color: #2d2a26;
  width: 100%;
  height: 100%;
}

.videoclases-fblock {
  margin-top: 10px;
  width: 1440px;
  /* height: 600px; */
  margin-bottom: 85px;
}

.courses-explore {
  margin-bottom: -20px;
  font-family: "Marlin Geo";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  display: flex;
  align-items: center;
  color: rgba(255, 255, 255, 0.9);
}

.div-slider {
  margin-left: -50px;
}

.down-bar {
  position: relative;
  z-index: 0;
  padding-left: 0px;
  padding-right: 0px;
}

.arrow-right {
  padding-top: 20px;
  text-align: right;
  padding-right: 0px;
}

.arrow-left {
  padding-top: 20px;
  text-align: left;
  padding-left: 50px;
}


/* ESTILOS VIDEO */

.conenedorVideos{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  /* grid-auto-rows: 200px; */
  padding: 25px 0;
  gap: 20px;
  grid-auto-flow: dense;
}

.video{
  transition: 0.2s ease;
  
  appearance: none;
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
}

.video:hover {
  scale: 1.3;
}

.video-showImagen{
  grid-column: -1 / 1;
  grid-row: span 5;
  /* margin-left: -290px; */
}
