.modal-body {
  height: 580px;
  background-color: white;
  border-radius: 0px 0px 7px 7px;
  padding: 0px 0px 0px 0px;
}

.modal-header {
  background-color: white;
  border-bottom: 0px;
}

.btn-close {
  background-color: white !important;
  color: yellow !important;
}

#modal-button {
  background-color: white;
  /* margin-top: 50px; */
  /* text-align: center; */
}

#modal-button:hover {
  color: #e70031 !important;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
}
